html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.shop--wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.shop--header{
    position: relative;
    width: 50%;
    text-align: center;
}

.shop--header .shop--title{
    font-size:30px;
}

.shop--header ul{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.shop--header ul li{
    padding:10px;
    margin:0 10px;
    border: 1px solid #000;
    cursor: pointer;
}

.shop--header .btn--add{
    position: absolute;
    top:0;
    right:0;
}

.shop--contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.shop--contents li{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #999;
    border-bottom: 0;
}

.shop--contents li:last-child{
    border-bottom: 1px solid #999;
}

.shop--contents li:hover{
    background-color: #efefef;
}

.shop--contents li > span{
    width: 25%;
    max-width: 140px;
}

.popup-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    padding: 20px;
    border: 1px solid #dddd;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
