body {
  display: block;
  width: 100vw;
  height: 100vh;
  margin-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 0 auto;
  text-align: center;
}

section {
  margin-top: 4rem;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

h1 {
  font-size: 3rem;
}

.modal__btn {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 20px;
}

.clothes {
  width: 4.5em;
  height: 2.5em;

  background-color: rgb(51, 51, 51);
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 0.5em;
}

.clo__blue:hover {
  background-color: rgb(0, 102, 255);
}

.clo__yellow:hover {
  background-color: rgb(255, 255, 0);
}

.clo__pink:hover {
  background-color: pink;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: rgb(233, 233, 233);
  margin: 10px auto;
  border-radius: 12px;
}

.inform {
  display: flex;
  justify-content: start;
  width: 30%;
  margin: 0 auto;
  margin-left: 350px;
  padding: 1em;
  align-items: center;
}
.inform__index {
  list-style: none;
}
.inform__span {
  font-size: 1em;
  font-weight: bolder;
  margin-left: 40px;
  color: rgb(41, 41, 41);
  line-height: 50px;
}

.inform-btn {
  width: 3em;
  height: 3em;
  border: none;
  background-color: rgb(122, 122, 122);
  margin: 0.5em;
  padding: 0;
  transition: all 200ms linear;
}

.inform-btn:hover {
  background-color: white;
}

.modal-box {
  display: block;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 30%;
  border-radius: 10px;
  background-color: antiquewhite;
  color: black;
  border: 3px solid rgb(95, 95, 168);
  text-align: center;
  line-height: 70px;
  margin-left: -320px;
  transform: ;
}

.modal-box > label {
  margin: 10px;
}

.modal-box > input {
  border: none;
  height: 20px;
  border-radius: 10px;
}
