@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("./font/GmarketSansTTFBold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFLight";
    src: url("./font/GmarketSansTTFLight.ttf");
}
:root {
    --mint-color: #CDF0EA;
    --grey-color: #F9F9F9;
    --pink-color: #F7DBF0;
    --violet-color: #BEAEE2;
    --black-color: #8d8f92;
    --white-color: #fff;
    --blue-color: #A2DBFA;
    --yellow-color: #FFD369;
    --red-color: #f16262;
}

.mini__shop {
    width: 1000px;
    margin: 3rem auto;
    border-radius: 4px;
    background-color: var(--white-color);
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--grey-color);
}
h1 {
    margin: 0;
}
.title {
    font-family: "GmarketSansTTFBold";
    margin-top:40px;
    color: var(--violet-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    
}
.fa-store {
   margin: 20px;
   font-size: 1.8rem;
}

/* 상품 카테고리 */
.item__cate {
    font-family: "GmarketSansTTFBold";
    display: flex;
}
ul {
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
li {
    font-size: 1rem;
    list-style: none;
    margin: 2rem;
    padding: 0.5rem;
}
li:hover {
    border-bottom: 3px solid var(--violet-color);
    color: var(--violet-color);
    margin-top: 1px;
}
.cate_blue:hover {
    border-bottom: 3px solid var(--blue-color);
    color: var(--blue-color);
}
.cate_yellow:hover {
    border-bottom: 3px solid var(--yellow-color);
    color: var(--yellow-color);
}
.cate_pink:hover {
    border-bottom: 3px solid var(--pink-color);
    color: var(--pink-color);
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
.btn__add {
    font-size: 1.3rem;
    margin: 2rem;
    color: var(--black-color);
}
.btn__add:hover {
    color: var(--violet-color);
}

/* 상품 추가 모달 창 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width:100%;
    height: 100%;
    position: absolute;
}
.modal__content {
    font-family: "GmarketSansTTFLight";
    background-color: var(--white-color);
    padding: 50px 50px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
h2 {
    color: var(--black-color);
}
.hidden {
    display: none;
}
.item__add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
input {
    width: 6rem;
    font-size: 1rem;
    margin-right:  2rem;
    padding: 0.5rem;
}
.modal__btn {
    all: unset;
    color: var(--grey-color);
    background-color: var(--black-color);
    border-radius: 20px;
    padding: 7px 20px;
    margin: 0 10px;
}

.submitBtn:hover {
    color: var(--white-color);
    background-color: var(--violet-color);
}

.closeBtn:hover {
    color: var(--white-color);
    background-color: var(--red-color);
}

/* 상품 리스트 */
section {
    font-family: "GmarketSansTTFLight";
    background-color: var(--mint-color);
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
}

article {
    padding: 0.3rem;
    display: flex;
    align-items: center;
    width:auto;
    font-size: 1rem;
    color: var(--black-color);
    background-color: var(--white-color);
    margin: 1rem 3rem;
    border-radius: 10px;
    border: 3px solid var(--white-color);

}
article:hover {
    border: 3px solid var(--violet-color);
    
}
.item {
    flex: 1;
    margin-left: 20px;
}
.btn__edit,
.btn__delete {
    padding: 10px;
    margin: 5px;
    font-size: 1.4rem;
    color: var(--black-color);
}

.btn__edit:hover,
.btn__delete:hover {
    color: var(--mint-color);
}